.page-header h4,
.page-header .active,
.card-box h4 {
	color: #3f83f8 !important;
}

.contact-directory-box:hover .view-contact a, .header-left .header-search .dropdown .dropdown-toggle:hover, .header-left .header-search .dropdown.show .dropdown-toggle {
	color: #3f83f8 !important;
}


.sidebar-light .sidebar-menu .dropdown-toggle:hover, .sidebar-light .sidebar-menu .show>.dropdown-toggle,
.sidebar-light .sidebar-menu .submenu li a.active, .sidebar-light .sidebar-menu .submenu li a:hover {
	background-color: #3f83f8 !important;
}

.contact-directory-box:hover .view-contact a, .header-left .header-search .dropdown .dropdown-toggle:hover, .header-left .header-search .dropdown.show .dropdown-toggle {
	background: #3f83f8 !important;
	color: #fff !important;
}

.custom-file-input:focus, .custom-select:focus, .form-control:focus {
	border-color: #3f83f8 !important;
}

/* ô tìm kiếm trong list */
.text-right {
	margin-right: 15px;
}

/* dataTables_info 12 of 12 */
.dataTables_info {
	margin-left: 15px;
}

/* Chỉnh nút thêm sửa xóa về bên phải */
.align-self-end {
	text-align: right;
}

/* footer link */
.footer-wrap a {
	color: #3f83f8;
}

/* Nút Hiển thị */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}